<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/admin/dashboard"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-hotel"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Staycation</div>
  </a>

  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading">
    Manage
  </div>

  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="/admin/category">
      <i class="fas fa-fw fa-poll-h"></i>
      <span>Category</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="/admin/item">
      <i class="fas fa-fw fa-list-ul"></i>
      <span>Item</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="/admin/booking">
      <i class="fas fa-fw fa-calendar-alt"></i>
      <span>Booking</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="/admin/bank">
      <i class="fas fa-fw fa-money-bill-wave"></i>
      <span>Bank</span></a
    >
  </li>

  <hr class="sidebar-divider d-none d-md-block" />

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
